body {
    margin-bottom: 80px;
    background-color: #eee;
}

body.register {
    margin-top: 30px;
}

.page-header {
    margin-top: 0;
}

.panel-body {
    /*padding-top: 0;*/
}

.featuredImg {
    margin-bottom: 15px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
    margin-bottom: 20px;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin #forgot {
    margin-bottom: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.panel .glyphicon {
    margin-right: 5px;
}

ul.navbar-right li span.glyphicon, .navbar-brand .glyphicon{
    margin-right: 5px;
}

.table-hover th, .table-hover tr {
    text-align: center;
}

.tab-content .tab-pane {
    padding-top: 15px;
}